/* 
    Created on : Nov 14, 2015, 4:25:23 AM
    Author     : Patrick Clarey
*/

.root {
    -fx-font-size: 10pt;
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: #e3f2fd;
}

#site_tool_bar {
    -fx-orientation: vertical;
}

.tool_bar {
}

.tool_bar_button {
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-content-display: top;
    -fx-pref-width: 122;
    -fx-pref-height: 80;
    //-fx-background-color: #42a5f5;
}

.slide {
    -fx-background-color: #42a5f5;
}