#banner {
    position: absolute;
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-family: inherit;
}

#bannerImage {
    position: absolute;
    height: 200px
}

button {
    height: 30px;
    width: 40px;
}

.componentImage {
    display: block;
    padding: 10px;
}

h2, p, video {
    margin: 0;
    padding: 10px;
}

.inset {
    width: 80%;
    left: 10%;
    right: 10%;
}

figure {
	display: inline-block;
}

figure img {
	vertical-align: top;
}

figure video {
	vertical-align: top;
}

figcaption{
    text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 80%;
    left: 10%;
    right: 10%;
}

main {
    position: absolute;
    padding-bottom: 100px;
}

menu {
	padding-top: 20px;
}

#navlist li a {
	font-family: inherit;
}

.slideShowImage {
    display: block;
	height: 540px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}