#banner {
    background-color: #336699;
    color: white;
}

body {
    background-color: #666666;
}

#content {
    background-color: #999999;
}

nav {
    background-color: #336699;
    color: white;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: #999999;
}