#banner {
    background-color: #003333;
    color: white;
}

body {
    background-color: #b3a580;
}

#content {
    background-color: #CCCC99;
}

nav {
    background-color: #003333;
    color: white;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: #CCCC99;
}