#bannerImage {
    display: none;
}

main {
    top: 55px;
}

menu {
    text-align: center;
}

nav {
    margin-top: 155px;
    overflow: auto;
    float: left;
    width: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 30px 0px 0px 30px;
}

nav li {
    padding: 20px 0px 20px 0px;
}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

nav ul {
   list-style-type: none;
}