#banner {
    background-color:#990000;
    color: #FFFFFF;
}

body {
    background-color:rgb(118,143,165);
}

#content {
    background-color: #FFFFFF;
}

nav {
    background-color:#990000;
}

nav li a {
    color:#FFFFFF;
}

nav li a:hover {
    color: rgb(118,143,165);
}